body {
    margin: 0;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
}

li {
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.base {
    background-color: #242424;
}

.flexbox-vertical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flexbox-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.white-bold {
    color: white;
    font-weight: bold;
}

.white {
    color: white;
}

#header {
    margin: 0;
    padding: 20px;
    background-color: darkred;
    font-size: 3em;
}

#footer {
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkred;
    color: white;
    text-align: center;
}

#dashboard-box {
    margin: 50px;
    padding: 20px;
    border: solid white;
    border-radius: 10px;
    text-align: center;
}

#dashboard-box:hover {
    background-color: #3b3b3b;
}

#dashboard-box-h1 {
    font-size: medium;
}

#new-template-box {
    width: 450px;
    margin: 50px;
    padding: 20px;
    border: solid white;
    border-radius: 10px;
}

label {
    color: white;
    margin: 30px;
}