<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body class="base">
    <div class="sidenav">
        <hr />
        <a id="sidenav-heading" href="/">PNP Zone</a>
        <hr />
        <button class="dropdown-btn">Player
            <i class="fa fa-caret-down">&#9660</i>
        </button>
        <div class="dropdown-container">
            <a href="/player">Overwiew</a>
            <a href="/play">Play</a>
            <a href="/character">Campaigns</a>
        </div>
        <button class="dropdown-btn">Gamemaster
            <i class="fa fa-caret-down">&#9660</i>
        </button>
        <div class="dropdown-container">
            <a href="/gamemaster">Overwiew</a>
            <a href="/play">Play</a>
            <a href="/campaign">Campaigns</a>
            <a href="/encounter">Encounters</a>
            <a href="/monster">Monsters</a>
            <a href="/npc">NPCs</a>
            <a href="/map">Maps</a>
            <a href="/setting">Settings</a>
            <a href="/template">Templates</a>
        </div>
        <a href="/admin">Administration</a>
    </div>
        {% block body %}
        {% endblock %}
        <div id="footer">
            <div class="white">All Icons are from <a class="white" href="https://icons8.com">Icons8</a></div>
        </div>
        <script src="{% static "js/main.js" %}"></script>
    </body>
</html>