{% extends "base/base.html" %}
{% block body %}
    {% load static %}
    <div class="flexbox-vertical">
        <div id="new-template-box">
            <h1>Create a new template</h1>
            <form method="post" action="/create_template">
            {% csrf_token %}
                <div class="flexbox-vertical">
                    <label for="name" class="white-bold">Name</label>
                    <input type="text" class="text-input" name="name" id="name">
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
{% endblock %}