{% extends "base/base.html" %}
{% block body %}
    {% load static %}
    <div class="flexbox-vertical">
        <div id="new-template-box">
            <form method="post" action="/create_template">
                <div class="flexbox-horizontal">
                    <h1>Create a new template</h1>
                    {% csrf_token %}
                    {{ form.name.errors }}
                    <div class="flexbox-vertical">
                        <label for="{{ form.name.id_for_label }}">Name:</label>
                        {{ form.name }}
                    </div>
                    <button>Submit</button>
               </div>
            </form>
        </div>
    </div>
{% endblock %}