{% extends "base/base.html" %}
{% block body %}
    {% load static %}
    <div class="flexbox-vertical">
        <div id="dashboard-box">
            <a href="{{ dashboard_link_play }}" class="flexbox-horizontal">
                <img src="/static/img/play.png" alt="play">
                <div class="white-bold" id="dashboard-box-h1">Play</div>
            </a>
        </div>
        <div id="dashboard-box">
            <a href="{{ dashboard_link_campaign }}" class="flexbox-horizontal">
                <img src="/static/img/create.png" alt="create">
                <div class="white-bold" id="dashboard-box-h1">Campaigns</div>
            </a>
        </div>
        <div id="dashboard-box">
            <a href="{{ dashboard_link_encounter }}" class="flexbox-horizontal">
                <img src="/static/img/encounter.png" alt="encounter">
                <div class="white-bold" id="dashboard-box-h1">Encounters</div>
            </a>
        </div>
        <div id="dashboard-box">
            <a href="{{ dashboard_link_monster }}" class="flexbox-horizontal">
                <img src="/static/img/monster.png" alt="monster">
                <div class="white-bold" id="dashboard-box-h1">Monsters</div>
            </a>
        </div>
        <div id="dashboard-box">
            <a href="{{ dashboard_link_npc }}" class="flexbox-horizontal">
                <img src="/static/img/npc.png" alt="npc">
                <div class="white-bold" id="dashboard-box-h1">NPCs</div>
            </a>
        </div>
        <div id="dashboard-box">
            <a href="{{ dashboard_link_map }}" class="flexbox-horizontal">
                <img src="/static/img/map.png" alt="map">
                <div class="white-bold" id="dashboard-box-h1">Maps</div>
            </a>
        </div>
        <div id="dashboard-box">
            <a href="{{ dashboard_link_world_setting }}" class="flexbox-horizontal">
                <img src="/static/img/globe.png" alt="world setting">
                <div class="white-bold" id="dashboard-box-h1">Settings</div>
            </a>
        </div>
        <div id="dashboard-box">
            <a href="{{ dashboard_link_template }}" class="flexbox-horizontal">
                <img src="/static/img/template.png" alt="template">
                <div class="white-bold" id="dashboard-box-h1">Templates</div>
            </a>
        </div>
    </div>
{% endblock %}